@import '../../_settings/_variables.css';

.content-block{
}

.slider-content-block{
    width:100%;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    background-color: var(--dark-theme-background-color)88;
    line-height:1.8;
    box-sizing:border-box;
}