@import '../../_settings/_variables.css';

.icon {
  &-circle{
      border-radius: 50%;
      padding: 8px;
      border: 1px solid black;
  }
  & path{
    fill: red;
  }
}


/* Size */
.small {
    width:8px;
    height:8px;
}

.medium {
    width:18px;
    height:18px;
}

.large {
    width:28px;
    height:28px;
}

.giant {
    width:38px;
    height:38px;
}
