@import '../../_settings/_variables.css';

.header-bar {
  &{
    width:100%;
    background-color: var(--header-background-color);
  }
  &>div{
    margin: auto;
    /* display:flex;
    justify-content:space-between;
    align-items: center; */
  }
}

/* size */
/* .small {
  &.div{
    padding: 5px 0px;
  }
}

.medium {
  &.div{
    padding: 15px 0px;
  }
}

.large {
  &.div{
    padding: 15px 0px;
  }
} */