@import '../../_settings/_variables.css';

.menu {
  display: none;
  position:absolute;
}


/* Size */
.small {
  padding: 0.5em 0.6em;
}

.medium {
  padding: 1.1em 1.3em;
}

.large {
  padding: 1.7em 2.4em;
}

/* Theme */
.default {
  color: #fff;
  
  
}

.rounded {
  background: #fff;
  
  transition: color 0.3s ease, background 0.3s ease;

  &:hover {
    color: #fff;
    
  }
}

/* Disabled */

