@import '../../_settings/_variables.css';

.white-theme{
  color: var(--white-theme-text-color);
  &>li::marker {
    color: var(--white-theme-text-color);
  }
}

.dark-theme{
  color: var(--dark-theme-text-color);
  &>li::marker{
    color: var(--dark-theme-text-color);
  }
}

.list {
  &-vertical{
    box-sizing: border-box;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    &>li{

    }
  }
  &-horizontal{
    box-sizing: border-box;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    &>li{
      float: left;
    }
  }
}
