@import '../../_settings/_variables.css';

.white-theme{
  color: var(--white-theme-background-color);
}

.dark-theme{
  color: var(--dark-theme-background-color);
}

.inner-block{
  &{
    display:flex;
  }
  &>div{
    flex-grow: 1;
    width:100%;
  }
}