@import '../../_settings/_variables.css';

.menu {
    width: 100%;
}
.align{
    &-left{
        &>ul{
            float:left;
        }
    }
    &-right{
        &>ul{
            float:right;
        }
    }
}

/* Size */
.small {
}

.medium {
}

.large {
}
