@import '../../_settings/_variables.css';

.link {
  text-decoration:none;
  font-size:15px;
}
.link-external {
  text-decoration:none;
  font-size:15px;
}

.white-theme{
  color: var(--white-theme-text-color);
}

.dark-theme{
  color: var(--dark-theme-text-color);
}

/* size */
.s2 {
  font-size: 8px;
}

.s1 {
  font-size: 10px;
}

.s {
  font-size: 12px;
}

.m {
  font-size: 15px;
}

.l {
  font-size: 18px;
}

.l1 {
  font-size: 22px;
}

.l2 {
  font-size: 28px;
}
