@import '../../_settings/_variables.css';

.logo {
  line-height: 0;
}
.logo:hover{
  
}

/* Size */
.s1 {
  height: 28px;
}

.s {
  height: 38px;
}

.m {
  height: 48px;
}

.l {
  height: 58px;
}

.l1 {
  height: 68px;
}
